@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;700;800;900&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

html {
    scroll-behavior: smooth;
  }

body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    color: #474747;
}

h1 {
    font-family: 'Saatliches', sans-serif;
    font-size: 5rem;
}

h2 {
    font-family: 'Staatliches', sans-serif;
    font-weight: 600;
    font-size: 2rem;
}

h3 {
    font-family: 'Staatliches', sans-serif;
    font-size: 2rem;
}

h5 {
    font-weight: 600;
    color: #df4545;
}

p {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
}

.price {
    font-weight: 900;
}

.food-pics {
    width: 80%;
}

.headerFirstWord {
    font-family: 'Berkshire Swash', cursive;
    font-size: 6.5rem;
}

@media screen and (min-width: 1026px) {
    #title-home {
        background-image: url(assets/start-bg.jpg);
    }
}

.menu-headline {
    background-color: #61C9A8;
    color: white;
}

.bg-menu {
    background-color: #FFDBDA;
}

.swirl-left {
    width: 5%;
    margin-right: 1rem;
}

.swirl-right {
    width: 5%;
    margin-left: 1rem;
}


/* Header css start */

header {
    background-color: #61C9A8;
    z-index: 10;
    position: fixed;
    width: 100%;
}

.logo {
    width: 10rem;
    margin-top: 0.5rem;
}

.navbar {
    width: 80%;
    margin: auto;
}

.nav-item {
    font-family: 'Staatliches', sans-serif;
    padding-right: 1.5rem;
}

.navbar .navbar-nav li a {
    color: white !important;
}

/* Header css end */

/* Title section start */

#title-home, #title-about, #title-gallery, #title-menu {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#title-about {
    background-image: url(assets/about-us-bg.jpg);
}

#title-gallery {
    background-image: url(assets/k-food3.jpg);
}

#title-menu {
    background-image: url(assets/menu-bg.jpg);
}

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 55rem;
    color: white;
    font-weight: bold;
}

.display-1 {
    font-family: 'Staatliches', sans-serif;
    color: #F2545B;
    font-weight: 700;
    animation-name: slide-down;
    animation-duration: 2s;
    margin-top: 0%;

}

/* Title section end */

/* Main css start */


.button-primary {
    border: none;
    padding: 1rem 2rem;
    background-color: #df4545;
    color: white;
    margin-top: 1rem;
    font-weight: 600;
}

.button-primary:hover {
    background-color: #db5b5b;
}

.img-fluid {
    margin-bottom: 1.5rem;
    margin-top: 1rem;
}

.img-circle {
    border-radius: 50%;
    margin-bottom: 2rem;
}

/* Main css end */

/* Footer css start */

footer {
    background-color: #474747;
    padding: 4rem 0 3rem 0;
    margin-top: 3rem;
    color: white;
}

h3.book {
    text-decoration: underline;
}

h3.book:hover {
    cursor: pointer;
}

footer h3 {
    font-family: 'Nunito', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    line-height: 1rem;
}

footer p {
    text-align: center;
}

footer .col-sm {
    margin-bottom: 2rem;
}

footer .fa-facebook-square, .fa-instagram-square, .fa-linkedin {
    color: #F2545B;
    font-size: 2rem;
    padding: 0.5rem;
}

/* Footer css end */


/* Form css start */

input, textarea {
    border-radius: 0 !important;
}

textarea:focus, input:focus{
    outline: none;
    background-color: #ffffffbb;
}

form button .btn, .btn-primary, .mb-2 {
    color: #F2545B;
    background-color: white;
    border: 1px #F2545B solid;
    padding: 0.5rem 0.8rem;
    margin-top: 0.5rem;
    border-radius: 0 !important;
}

form .btn-primary:hover {
    background-color: #F2545B;
    color: white;
    border: 1px #F2545B solid;
}

/* Form css end */

/* Keyeframes css start */

@keyframes slide-down {
    from {
        margin-top:-10%
    }
    to {
        margin-top: 0%;
    }
}

/* Keyeframes css end */

/* Media queries start */

@media screen and (max-width: 1025px) {
    .headerFirstWord {
        font-size: 5rem;
    }
    #title-home {
        background-image: url(assets/start-bg-smaller.png);
    }
    .welcome {
        height: 40rem !important;
    }
}

@media screen and (max-width: 667px) {
    .drink-pic {
        width: 70%;
        margin-left: 15%;
    }
    .tacos-headline {
        width: 60%;
        margin-left: 20%;
    }
    .food-pics {
        width: 60%;
    }
}


@media (max-width: 991px) {
    .img-main {
        margin-top: 2rem;
        margin-bottom: 2rem;
    } 
    .display-1 {
        font-size: 3rem !important;
    }
}

@media (max-width: 767px) {
    .display-1 {
        font-size: 3rem;
    }
}

@media (max-width: 576px) {
    .display-1 {
        font-size: 2rem !important;
    }
    .welcome {
        height: 30rem;
    }
}

/* Media queries end */
